.card {
  cursor: pointer;
  /*background-color: transparent;*/
  height: 300px;
  width: 230px;
  /*perspective: 1000px;*/
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d; /*it is to say there is content in the back Not for it to rotate */
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*so the front stays visible not the back*/
  -webkit-backface-visibility: hidden;
}
.card-back {
  background-color: aqua;
  transform: rotateY(180deg);
  border-radius: 8px;
}
.card-back ul {
  list-style: none;
  color: black;
}
.card-back ul li {
  text-align: left;
}
